@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

.content {
  background-color: rgb(245, 245, 245);
  padding-right: 10%;
  padding-left: 10%;
  /* needs a block texture background */
}


#navbar_style {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  background-color: rgb(233, 233, 233) !important;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  /* font-size: 2.0vw; */
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-family: 'Press Start 2P', cursive;
  /* font-size: 2.0vw; */
  font-size: 1.0rem;
  text-align: center;
}

h3 {
  /* font-family: 'Press Start 2P', cursive; */
  /* font-size: 2.0vw; */
  font-size: 1.0rem;
  text-align: center;
}

.image-and-text-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* does a vertical centering of the text */ 
  width: 100%; /* 80%*/
  /* the whole box is left aligned, not centered */
}


.image-sizer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; /*70%;*/
  height: auto;
}

.text-box{
  /* text-align: center; */
  padding: 3%; /*5%;*/
}

@media (orientation: portrait){
  .image-and-text-box{
    flex-direction: column; /* actually works!*/
  }
}

/* make images smaller, put text to right in landscape, and under in portrait */
/* bigger font for image text */
/* #carouselExampleCaptions { */

#carouselExampleControls {
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* color:darkblue !important; no effect when used here */
}

.carousel-caption-colour{
  color:rgb(255, 255, 255); /* does work here */ /* !important; */
  /* needs a drop shadow, or to not overlap the image */
  background-color:rgba(0, 0, 0, 0.5)
}