<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- add bootstrap here. or not -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <!-- <script src="{{url_for('static', filename='app.js')}}"></script> -->

  <title>Course Project</title>
  
  <!-- <style>
    use bootstrap, or bootstrap and a style of mine, fight with !important
    nav {
      text-align: center;
    }
    a {color:white;}
    a:visited {color: rgb(168, 255, 168)}
    a:link {color: rgb(255, 179, 179)}
  </style> -->

</head>

<!-- <body onload="checkDarkMode(),checkCookies()"> -->
    
<body>

  <nav class="navbar navbar-expand-lg bg-light" id="navbar_style">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page1">Page 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page2">Page 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>

        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->

      </div>
    </div>
  </nav>

   <!-- <nav>
    <a href="{{url_for('my_view.index')}}">Home</a>
    <a href="{{url_for('my_view.page1')}}">Page 1</a>
  </nav> -->

  <div>

    

 

  {% block content %}
  {% endblock %}

  </div>


 <!-- Bootstrap JavaScript Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>

