{% extends 'base.html' %}

{% block content %}
 <h2>Cats</h2>
 <h3>Everybody likes cats</h3>
 <br>
 
  <div class="image-and-text-box">
    <img src=".\static\img\cats.png" class="image-sizer">
    <div class="text-box">
      I have become a mad cat person.
    </div>
  </div>
  <br>

  <div class="image-and-text-box">
    <img src=".\static\img\cat_on_bed.png" class="image-sizer">
    <div class="text-box">
      This is my bed now.
    </div>
  </div>
  <br>

 <!-- 'here, I caught a whole chicken whilst you slept' -->



{% endblock %}