{% extends 'base.html' %}

{% block content %}
 <h2>Chickens</h2>
 <h3>(Although they look like ducks)</h3>

<img src=".\static\img\subterranean_chickens.png" class="image-sizer">

<br>As we can see, chickens are a subterranean species, prefering to live in large in caves. The lava isn't particularly good for them though.

<img src=".\static\img\ducks.png" class="image-sizer">
<br>A flock of chickens that are making a go of the duck lifestyle. Floating helps with this.

<img src=".\static\img\vortex.png" class="image-sizer">
This is a largely unexplained phenomena known as a 'chicken vortex'.

<img src=".\static\img\chicken_hoppers_eggs.png" class="image-sizer">
<br>'I am definitely not planning on laying eggs in those hoppers over there and breaking your new contraption. Nope, definitely not going to do that at all'.


{% endblock %}