{% extends 'base.html' %}

{% block content %}
 <h2>Chickens</h2>
 <h3>(Although they look like ducks)</h3>
 <br>

 <div class="image-and-text-box"> 
<img src=".\static\img\subterranean_chickens.png" class="image-sizer">
<div class="text-box">
As we can see, chickens are a subterranean species, prefering to live in large caves. The lava isn't particularly good for them though.
</div>
 </div>
 <br>

<div class="image-and-text-box">
<img src=".\static\img\ducks.png" class="image-sizer">
<div class="text-box">
  A flock of chickens that are making a go of the duck lifestyle. <!-- Floating helps with this.-->
</div>
</div>
<br>

<div class="image-and-text-box">
<img src=".\static\img\vortex.png" class="image-sizer">
<div class="text-box">
  This is a largely unexplained phenomena known as a 'chicken vortex'.
</div>
</div>
<br>

<div class="image-and-text-box">
<img src=".\static\img\chicken_hoppers_eggs.png" class="image-sizer">
<div class="text-box">
'I am definitely not planning on laying eggs in those hoppers over there and breaking your new contraption. Nope, definitely not going to do that at all'.
</div>
</div>
<br>

{% endblock %}