{% extends 'base.html' %}

{% block content %}
<h2>Endermen</h2>
<h3>Tall and mostly laid-back dudes.</h3>
<br>

<div class="image-and-text-box">
<img src=".\static\img\it_wasnt_us.png" class="image-sizer">
<div class="text-box">
It wasn't us, we did nothing.
</div>
</div>
<br>

<div class="image-and-text-box">
<img src=".\static\img\help_im_stuck.png" class="image-sizer">
<div class="text-box">
I was just trying to assist those landless farmers over there with this spare block, but I seem to be stuck in this box now, and I'm not a cat. Help!
</div>
</div>
<br>

{% endblock %}