{% extends 'base.html' %}

{% block content %}

<h2>Golems</h2>
<h3>Made out of pumpkins</h3>

<div class="image-and-text-box">
<img src=".\static\img\eric_in_a_hole.png" class="image-sizer">
<div class="text-box">
Eric here is a 'snow golem', a magical species made from snow and pumpkins.<br>He likes getting stuck in holes, for whilst he is quite happy to go two steps down, he is unable to go more than one step up.<br>This, oddly, often results in him getting stuck at the top of mountains. He has a favourite mountain to get stuck on.<br>He has been granted invulnerability, otherwise he would just melt.
</div>
</div>

<div class="image-and-text-box">
<img src=".\static\img\explorations_of_eric.png" class="image-sizer">
<div class="text-box">
  Eric likes to wander far and wide, and he leaves snow trails so you can see where he has been. Here is one of his journeys. He likes chasing zombies, who just ignore him.
</div>
</div>

<div class="image-and-text-box">
<img src=".\static\img\eric_in_a_tree.png" class="image-sizer">
<div class="text-box">
  Eric, climbing a tree, probably looking for another hole to get stuck in.
</div>
</div>

<div class="image-and-text-box">
<img src=".\static\img\not_eric.png" class="image-sizer">
<div class="text-box">
  This is an Impostor!, neither snow, nor golem.
</div>
</div>


<div class="image-and-text-box">
<img src=".\static\img\iron_dudes.png" class="image-sizer">
<div class="text-box">These rectangular robots are Iron Golems, made by villagers for defence. They have made forty two of them, which is overdoing it somewhat.
</div>
</div>

{% endblock %}