{% extends 'base.html' %}
{% block content %}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="8000">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src=".\static\img\carousel\plains.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Grassy plains</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\river.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>Second slide label</h5> -->
        <p>Scenic rivers</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\forest.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>Third slide label</h5> -->
        <p>Silver birch forests</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\jungle.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Sweltering jungles</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\mountains.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Rocky mountains</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\iceberg.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Frozen wastes</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\coral.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Coral seas</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\badlands.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Rainbow badlands</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\badlands3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>No roadrunners or coyotes though</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\desert.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Sandy deserts, with odd geology</p>
      </div>
    </div>



    <div class="carousel-item">
      <img src=".\static\img\carousel\water_mountain.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>First slide label</h5> -->
        <p>Watery mountains</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\star_destroyer.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>Wandering Star Destroyers</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src=".\static\img\carousel\square_sunset.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block carousel-caption-colour">
        <!-- <h5>label</h5> -->
        <p>The physics of this place is not quite right somehow.</p>
      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>



</div>

<div class="text-box">
Minecraft, a strange voxel landscape with many varied environments.<br>
A land of creatures with Artificial Intelligence that leans strongy towards the 'Artificial'.<br>
</div>


<!-- Where the largest possible world size, which can only exist in a modified version of the program that uses higher precision floating point numbers, using the normal scale where a block represents a cubic meter, is 1000 light years square.<br> -->






<!-- 


2021-08-29_13.26.15.png
2022-01-14_00.29.33.png
2022-01-14_00.38.46.png
2022-01-21_02.06.58.png
2022-04-06_22.09.11.png
2022-04-06_22.10.35.png
2022-04-06_22.16.27.png
2022-06-07_13.10.21.png
2022-06-07_13.10.36.png
2022-06-07_13.11.19.png
2022-06-14_03.46.49.png
2022-06-14_03.54.03.png
2022-06-14_16.16.28.png
2022-06-16_16.23.02.png
2022-06-18_04.15.45.png
2022-06-18_04.42.28.png
2022-07-05_19.16.25.png
2022-07-06_20.32.50.png -->




{% endblock %}
