{% extends 'base.html' %}

{% block content %}
<h2>Zombies</h2>
<h3>Permanently hangry</h3>
<br>

<div class="image-and-text-box">
<img src=".\static\img\zog4.png" class="image-sizer">
<div class="text-box">
  This is Zog, he's a zombie.<br>I built him this nice place to live in but he still keeps hitting me.<br> Maybe he is just tired, he doesn't seem to sleep much.<br>The Endermen help him escape sometimes.<br>But that has to be an enderman leg bone, nothing else is tall enough.
</div>
</div>
<br>

{% endblock %}